.spinner-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 3px solid var(--color-background-input);
  border-top-color: var(--color-background-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
